version: '3.8' # Dodcker Compose 파일 형식 버전. 대부분 3.8 많이 씀
services: # 실행할 여러 컨테이너들을 정의
  app: # 해당 컨테이너 서비스 이름 정의
    build: # 이미 있다면 image: 라고 쓰고 직접 이미지를 만들때는 build 사용
      context: . # 현재 경로에서 빌드
      dockerfile: Dockerfile # 어떤 도커파일을 쓸지 명시
    container_name: spring-app
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JAVA_OPTS: "-Xmx400m -Xms200m" # JVM 메모리 설정
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    ports:
      - "8080:8080"
    depends_on: # 동작순서를 의존성으로 설정한다
      postgres: # postgres라는 동작에 의존하고 이게 될때까지 위의서비스는 대기 
        condition: service_healthy # 해당 서비스(postgres)가 healthy해야만 동작하도록 조건 추가 및 대기
      redis:
        condition: service_started # healthcheck와 상관없이 단순 컨테이너가 시작하기만 하면 되는 조건
    networks:
      - app-network

  postgres:
    image: postgres:16
    container_name: my-postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - my-postgres-data:/var/lib/postgresql/data
    # DB에서도 사용하는 메모리 제한 설정
    command: >
      postgres 
      -c shared_buffers=128MB 
      -c max_connections=50

    healthcheck: # 컨테이너가 정상인지 주기적으로 확인
      test: ["CMD-SHELL", "pg_isready -U postgres -d ${POSTGRES_DB}"]
      interval: 10s # 실패할시 10초마다 재시도
      timeout: 5s # 5초안에 응답없다면 실패 간주 unhealthy
      retries: 5 # 재시도 횟수, 이후 unhealthy로 판정
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --maxmemory 100mb --mexmemory-policy allkeys-lru # 레디스 메모리 제한
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - app-network

# 볼륨 정의
volumes:
  my-postgres-data:
    driver: local # 볼륨 데이터를 호스트의 로컬에 저장
  redis-data:
    driver: local

# 네트워크 설정
# 컨테이너간의 상호작용을 위한 네트워크 설정 정의
networks:
  app-network:
    driver: bridge