spring:
  datasource:
    url: jdbc:h2:mem:sprint
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: always # schema.sql, data.sql 사용여부

  h2:
    console:
      enabled: true
      path: /h2-console

  boot:
    admin:
      client:
        url: http://localhost:9090

discodeit:
  storage:
    type: s3  # <= 여기 값이 'local'일 때만 LocalBinaryContentStorage를 빈으로 등록, s3 이면 S3BinaryContentStorage 빈 등록

logging:
  level:
    com.sprint.mission.discodeit: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: '*'

  endpoint:
    health:
      show-details: always  # Health 상세 정보 표시

  info:
    env:
      enabled: true

info:
  datasource:
    url: ${spring.datasource.url}
    driver: ${spring.datasource.driver-class-name}

  jpa:
    ddl-auto: ${spring.jpa.hibernate.ddl-auto}

  storage:
    type: ${discodeit.storage.type}
    path: ${discodeit.storage.local.root-path}

  multipart:
    max-file-size: ${spring.servlet.multipart.max-file-size}
    max-request-size: ${spring.servlet.multipart.max-request-size}