
spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:h2:mem:discodeit
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100

server:
  port: 8080

logging:
  level:
    com.s.m.discodeit: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
