#spring.application.name=discodeit
spring:
  application:
    name: discodeit
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

discodeit:
  repository:
    type: jcf # jcf | file
    file-directory: .discodeit
