
spring:
#  profiles:
#    active: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        default_batch_fetch_size: 100

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-postgres.sql

server:
  port: 8081

logging:
  level:
    com.s.m.discodeit: info
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace