spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: validate

logging:
  level:
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: warn
    org.hibernate.orm.jdbc.bind: error

server:
  port: 8080