
spring:
  application:
    name: discodeit

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  open-in-view: false

logging:
  level:
    root: info